.footer{
    display: flex;
    flex-direction: column;
}

.footer-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: rgb(76, 112, 49);
    height: 10vh;
    width: 100vw;
}

a {
    color: white;
    text-decoration: none;
    font-size: 2em;
}

#copyright{
    color: white;
    background-color: rgb(52, 87, 26);
    height: 4vh;
    width: 100vw;
}