<div class="mutual-funds">
    <h1>Mutual Funds</h1>

    <!-- <div *ngFor="let mutualFund of mutualFunds">
        <a class="accounts">{{mutualFund.fundName}}</a>
        <a>{{mutualFund.symbol}}</a>
    </div> -->

    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
        <mat-header-cell *matHeaderCellDef> {{column.header}} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{column.cell(row)}} </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" 
                   showFirstLastButtons
                   aria-label="Select page of mutual funds">
    </mat-paginator>
</div>